        /* Reset b치sico */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
  
        /* Corpo da p치gina */
        body {
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            width: 100%;
        }
  
        .titulo{
            color: #fff;
            font-family: arial;
            font-size: 2rem;
            order: 2;
            width: 100%;
            height: 100vh;
            background-color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
        }
  
        /* Container do formul치rio de login */
        #login-container {
            display: flex;
            justify-content: start;
            align-items: start;
            height: 100vh;
            width: 100%;
            background-color: #333;
            order: 1;
        }
  
        /* Estilo do formul치rio */
        #login-form {
            background: #fff;
            padding: 2rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100vh;
            text-align: start;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
        }
  
        #login-form h3 {
            font-size: 1.8rem;
            color: #333;
            margin-bottom: 1rem;
            position: absolute;
            top: 10%;
    
        }
  
        #login-form label {
            display: block;
            font-size: 1.2rem;
            color: #555;
            margin-bottom: 0.5rem;
            text-align: left;
        }
  
  
        #login-form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0;
    font-size: 0.9rem;
    border-bottom: 1px solid #d8d8d8;
    transition: border-color 0.3s ease;
  }
  
  #login-form input:focus {
    outline: none;
    border-bottom: 1px solid #b30000;
  }
  
        #login-form button {
            width: 100%;
            padding: 0.75rem;
            background-color: #b30000;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
  
        #login-form button:hover {
            background-color: #d10000;
        }
  
        /* Responsividade */
        @media (max-width: 1100px) {
  
            .titulo{
                display: none;
            }
  
        }